<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ *************************************************************
  ~ 文件：AndroidManifest.xml  模块：app  项目：component
  ~ 当前修改时间：2019年04月12日 09:21:11
  ~ 上次修改时间：2019年04月07日 14:19:45
  ~ 作者：Cody.yi   https://github.com/codyer
  ~
  ~ 描述：app
  ~ Copyright (c) 2019
  ~ *************************************************************
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cody.component">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".banner.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".bus.BusDemoActivity" />
    </application>

</manifest>