<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cody.http.cat">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/cat_ic_launcher"
        android:label="@string/cat_app_name"
        android:roundIcon="@mipmap/cat_ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/CatAppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".ui.CatMainActivity"
            android:launchMode="singleTask"
            android:taskAffinity="com.cody.http.cat.singleTask"
            android:theme="@style/CatAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.CatDetailsActivity"
            android:launchMode="singleTask"
            android:parentActivityName="com.cody.http.cat.ui.CatMainActivity"
            android:taskAffinity="com.cody.http.cat.singleTask"
            android:theme="@style/CatAppTheme" />

        <service
            android:name=".service.CatClearService"
            android:exported="false" />
    </application>
</manifest>