<!--
  ~ *************************************************************
  ~ 文件：AndroidManifest.xml  模块：http-cat  项目：component
  ~ 当前修改时间：2019年04月23日 18:23:19
  ~ 上次修改时间：2019年04月13日 08:43:54
  ~ 作者：Cody.yi   https://github.com/codyer
  ~
  ~ 描述：http-cat
  ~ Copyright (c) 2019
  ~ *************************************************************
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cody.http.cat">

    <application>
        <activity
            android:name=".ui.CatMainActivity"
            android:icon="@mipmap/cat_ic_launcher"
            android:label="@string/cat_app_name"
            android:launchMode="singleTask"
            android:roundIcon="@mipmap/cat_ic_launcher"
            android:taskAffinity="com.cody.http.cat.singleTask"
            android:theme="@style/CatAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.CatDetailsActivity"
            android:launchMode="singleTask"
            android:parentActivityName="com.cody.http.cat.ui.CatMainActivity"
            android:taskAffinity="com.cody.http.cat.singleTask"
            android:theme="@style/CatAppTheme" />

        <service
            android:name=".service.CatClearService"
            android:exported="false" />
    </application>
</manifest>