<?xml version="1.0" encoding="utf-8"?><!--
  ~ *************************************************************
  ~ 文件：AndroidManifest.xml  模块：hybrid-core  项目：component
  ~ 当前修改时间：2019年04月13日 08:43:55
  ~ 上次修改时间：2019年04月12日 22:09:58
  ~ 作者：Cody.yi   https://github.com/codyer
  ~
  ~ 描述：hybrid-core
  ~ Copyright (c) 2019
  ~ *************************************************************
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cody.component.hybrid">

    <application>
        <activity
            android:name=".activity.HtmlActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
    </application>

</manifest>