<?xml version="1.0" encoding="utf-8"?><!--
  ~ *************************************************************
  ~ 文件：AndroidManifest.xml  模块：app-core  项目：component
  ~ 当前修改时间：2019年04月13日 08:43:54
  ~ 上次修改时间：2019年04月12日 15:52:45
  ~ 作者：Cody.yi   https://github.com/codyer
  ~
  ~ 描述：app-core
  ~ Copyright (c) 2019
  ~ *************************************************************
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cody.component.app">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.file_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service android:name=".upgrade.DownloadService" />
    </application>

</manifest>